@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f6f7;
}

.calculator {
  border: 5px solid rgb(4, 2, 2);
  width: 20%;
  height: 70%;
}

.display {
  border-bottom: 1px solid black;
  width: 100%;
  height: 25%;
  background-color: #f1f6f7;
  display: flex;
  flex-direction: column;
}

#calcHistory {
  width: 100%;
  height: 50%;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;

  word-break: break-all;
}

#output {
  width: 100%;
  height: 50%;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 100%;
  word-break: break-all;
}

button {
  border: 1px solid black;
  font-size: 25px;
  background-color: #aeaeae;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 0;
  height: 75%;
  width: 100%;
}

.number {
  background-color: #22a5c0;
}
