@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1f6f7;
}

.calculator {
  border: 5px solid rgb(4, 2, 2);
  width: 20%;
  height: 60%;
}

.display {
  position: relative;
  width: 100%;
  height: 20%;
  background-color: #f1f6f7;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

#calcHistory {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  font-size: 30px;
  margin-top: 0;
}

#output {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  padding-right: 10px;
  font-size: 30px;
}

button {
  border: 1px solid black;
  font-size: 25px;
  background-color: #aeaeae;
  box-sizing: border-box;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 0;
  height: 80%;
  width: 100%;
}

.number {
  background-color: #22a5c0;
}
